<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Sidebar</title>
</head>
<body>
    <nav>
        <ul>
            <li>
            <a href="/" class="sidebar-item">Home</a></li>                             
            <li>
            <a href="/inventory/items" class="sidebar-item">All Products</a></li>
            <li>
            <a href="/inventory/categories" class="sidebar-item">Categories</a></li>
            <li>
            <a href="/inventory/suppliers" class="sidebar-item">Suppliers</a></li>
        </ul>
    
        <ul>
            <li><a href="/inventory/item/create">Create new item</a></li>
            <li><a href="/inventory/category/create">Create new category</a></li>
            <li><a href="/inventory/supplier/create">Create new supplier</a></li>
    
        </ul>
    </nav>
    
</body>
</html>